@page "/students"
@using ServerBlazorEF.Models
@inject StudentService studentService

<h1>Students</h1>

<p>This component demonstrates managing students data.</p>

@* While the database is loading, show loading text. Once it is loaded,
   display the database entries in an html table. *@
@if (students == null) {
  <p><em>Loading...</em></p>
} else {
  <button @onclick="Add"  class="btn btn-success">Add</button>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Course Code</th>
        <th>Course Title</th>
      </tr>
    </thead>
    <tbody>
      @* Iterate over the students list (a type of C# container) using the foreach method.
         This creates one row in the table for each entry. *@
      @foreach (var item in students) {
        <tr @onclick="(() => Show(item.StudentId))">
          <td>@item.StudentId</td>
          <td>@item.FirstName</td>
          <td>@item.LastName</td>
          <td>@item.Email</td>
          <td>@item.CourseCode</td>
          <td>@item.CourseTitle</td>
        </tr>
      }
    </tbody>
  </table>
}

@* If the database is loaded and the add button has been pressed (add mode),
   shows an input form for a new entry. *@
@if (students != null && mode==MODE.Add) // Insert form 
{
  <input placeholder="First Name" @bind="@firstName" /><br />
  <input placeholder="Last Name" @bind="@lastName" /><br />
  <input placeholder="Email" @bind="@email" /><br />
  <input placeholder="Course Code" @bind="@courseCode" /><br />
  <input placeholder="Course Title" @bind="@courseTitle" /><br />
  <button @onclick="Insert" class="btn btn-warning">Insert</button>
}

@* If the database is loaded and an entry has been selected,
   shows an input form with the data from the selected entry prefilled. *@
@if (students != null && mode==MODE.EditDelete) // Update & Delete form
{
  <input type="hidden" @bind="@studentId" /><br />
  <input placeholder="First Name" @bind="@firstName" /><br />
  <input placeholder="Last Name" @bind="@lastName" /><br />
  <input placeholder="Email" @bind="@email" /><br />
  <input placeholder="Course Code" @bind="@courseCode" /><br />
  <input placeholder="Course Title" @bind="@courseTitle" /><br />
  <button @onclick="Update" class="btn btn-primary">Update</button>
  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <button @onclick="Delete" class="btn btn-danger">Delete</button>
}

@* The methods and the variables used in the UI. These interface with our database model. *@
@functions {
  @* Container for all student entries. *@
  List<Student> students;
  string studentId;
  string firstName;
  string lastName;
  string email;
  string courseCode;
  string courseTitle;

  @* Enumerator that represents a mode for the page (either None, Add or Edit/Delete)  *@
  private enum MODE { None, Add, EditDelete };
  MODE mode = MODE.None;
  Student student;

  @* Calls the load method when the page loads *@
  protected override async Task OnInitializedAsync() {
    await load();
  }

  @* Gets the list of students from the database (uses StudentService) *@
  protected async Task load() {
    students = await studentService.GetStudentsAsync();
  }

  @* CRUD operations from the UI. Executed when the insert button is clicked. *@
  protected async Task Insert() {
    Student s = new Student() {
      StudentId = Guid.NewGuid().ToString(),
      FirstName = firstName,
      LastName = lastName,
      Email = email,
      CourseCode = courseCode,
      CourseTitle = courseTitle
    };

    await studentService.InsertStudentAsync(s);
    ClearFields();
    await load();

    @* After insertion, resets the mode to None *@
    mode = MODE.None;
  }

  @* Simple method to clear the input form fields. *@
  protected void ClearFields() {
    studentId = string.Empty;
    firstName = string.Empty;
    lastName = string.Empty;
    email = string.Empty;
    courseCode = string.Empty;
    courseTitle = string.Empty;
  }

  @* Executed when the user clicks on the Add button. *@
  protected void Add() { 
    ClearFields();
    @* Sets the mode to Add *@
    mode = MODE.Add;
  }

  @* Executed when an entry is updated (edited) *@
  protected async Task Update() {
    @* Creates a new student object with the input data. *@
    Student s = new Student() {
      StudentId = studentId,
      FirstName = firstName,
      LastName = lastName,
      Email = email,
      CourseCode = courseCode,
      CourseTitle = courseTitle
    };

    @* Replaces the entry with the same id with the updated info *@
    await studentService.UpdateStudentAsync(studentId, s);
    ClearFields();
    await load();
    mode = MODE.None;
  }

  @* Executed when the Delete button is clicked. Deletes an entry with the given id *@
  protected async Task Delete() {
    await studentService.DeleteStudentAsync(studentId);
    ClearFields();
    await load();
    mode = MODE.None;
  }

  @* Loads a particular entry id from the database. (used to create the table in the UI)*@
  protected async Task Show(string id) {
    student = await studentService.GetStudentByIdAsync(id);
    studentId = student.StudentId;
    firstName = student.FirstName;
    lastName = student.LastName;
    email = student.Email;
    courseCode = student.CourseCode;
    courseTitle = student.CourseTitle;
    mode = MODE.EditDelete;
  }
}
